.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
  &_icon {
    font-size: 40px;
    width: 40px;
  }
  &_logo {
    object-fit: contain;
    height: 40px;
  }
}