.row:after {
  content: "";
  display: table;
  clear: both;

}

.col {
  float: left;
  width: 33.33%;
  height: 180px;
  padding: 10px;
  cursor: pointer;
  transform-origin: 65% 75%;
  transition: transform .5s, filter .25s ease-out;
}
.col:hover {
  transform: scale(1.05);
}